@page "/"
@inject NavigationManager UriHelper
@inject SimplePortal.Data.GlobalVariable gvar
@inherits OwningComponentBase<ProjectServices>
@using Syncfusion.Blazor.Inputs 

@if (glist == null || plist == null || ulist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="centerpanel">
        <!--кнопки вкладок ігри/програми-->
        <div class="centerpanelbtn">
            <button class="btnchange" @onclick=@Games>Games</button>
            <button class="btnchange" @onclick=@Programs>Programs</button>
        </div>
        <div class="centerpanelbtn">
            Search:
            <input type="text" placeholder="Search" @bind-value="@searchvalue" />
        </div>
        <div class="filter">
            <!--фільтр ігр-->
            @if (games == true)
            {
                <h3>Ціна</h3>
                <div class="mode">
                    <div class="model">
                        <input type="text">
                        <SfSlider Width="(auto)" Value="@PriceValue" Type="SliderType.Range" Min="0" Max="99999" Step="1">
                            <SliderTooltipData IsVisible="true"
                                               ShowOn="TooltipShowOn.Always"
                                               Placement="TooltipPlacement.After">
                            </SliderTooltipData>
                        </SfSlider>
                    </div>
                </div>
                <h3>Жанри</h3>
                <div class="mode">
                    <div class="model">
                        <input type="checkbox" id="genes1">
                        <label for="genes1">Arcade</label><br />
                        <input type="checkbox" id="genes2">
                        <label for="genes2">Action</label><br />
                        <input type="checkbox" id="genes3">
                        <label for="genes3">Fighting</label><br />
                        <input type="checkbox" id="genes4">
                        <label for="genes4">Race</label><br />
                        <input type="checkbox" id="genes5">
                        <label for="genes5">Puzzle</label><br />
                        <input type="checkbox" id="genes6">
                        <label for="genes6">Strategies</label>
                    </div>
                    <div class="moder">
                        <input type="checkbox" id="genes7">
                        <label for="genes7">Horror</label><br />
                        <input type="checkbox" id="genes8">
                        <label for="genes8">Adventures</label><br />
                        <input type="checkbox" id="genes9">
                        <label for="genes9">RPG</label><br />
                        <input type="checkbox" id="genes10">
                        <label for="genes10">Sports</label><br />
                        <input type="checkbox" id="genes11">
                        <label for="genes11">Simulator</label><br />
                        <input type="checkbox" id="genes12">
                        <label for="genes12">Tabletop</label>
                    </div>
                </div>
                <h3>Роки</h3>
                <div class="mode">
                    <div class="model">
                        <input type="text">
                        <SfSlider Width="(auto)" Value="@YearValue" Type="SliderType.Range" Min="2000" Max="2021" Step="1">
                            <SliderTooltipData IsVisible="true"
                                               ShowOn="TooltipShowOn.Always"
                                               Placement="TooltipPlacement.After">
                            </SliderTooltipData>
                        </SfSlider>
                    </div>
                </div>
                <h3>Режим гри</h3>
                <div class="mode">
                    <div class="model">
                        <input type="checkbox" id="mode1">
                        <label for="mode1">Однокористувацька гра</label><br />
                        <input type="checkbox" id="mode2">
                        <label for="mode2">Багатокористувацька гра</label><br />
                        <input type="checkbox" id="mode3">
                        <label for="mode3">Кооперативна гра</label><br />
                        <input type="checkbox" id="mode4">
                        <label for="mode4">Кросплатформена гра</label><br />
                    </div>
                </div>
                <h3>Операційна система</h3>
                <div class="mode">
                    <div class="model">
                        <input type="checkbox" id="os1">
                        <label for="os1">Windows</label><br />
                        <input type="checkbox" id="os2">
                        <label for="os2">Linux</label><br />
                        <input type="checkbox" id="os3">
                        <label for="os3">Mac</label><br />
                    </div>
                </div>
            }
            else if (programs == true)
            {
                <h3>Ціна</h3>
                <div class="mode">
                    <div class="model">
                        <input type="text">
                        <SfSlider Width="(auto)" Value="@PriceValue" Type="SliderType.Range" Min="0" Max="99999" Step="1">
                            <SliderTooltipData IsVisible="true"
                                               ShowOn="TooltipShowOn.Always"
                                               Placement="TooltipPlacement.After">
                            </SliderTooltipData>
                        </SfSlider>
                    </div>
                </div>
                <h3>Роки</h3>
                <div class="mode">
                    <div class="model">
                        <input type="text">
                        <SfSlider Width="(auto)" Value="@YearValue" Type="SliderType.Range" Min="2000" Max="2021" Step="1">
                            <SliderTooltipData IsVisible="true"
                                               ShowOn="TooltipShowOn.Always"
                                               Placement="TooltipPlacement.After">
                            </SliderTooltipData>
                        </SfSlider>
                    </div>
                </div>
                <h3>Операційна система</h3>
                <div class="mode">
                    <div class="model">
                        <input type="checkbox" id="os1">
                        <label for="os1">Windows</label><br />
                        <input type="checkbox" id="os2">
                        <label for="os2">Linux</label><br />
                        <input type="checkbox" id="os3">
                        <label for="os3">Mac</label><br />
                    </div>
                </div>
            }
        </div>
        <div class="cargo">
            @if (games == true)
            {
                @foreach (var game in glist)
                {
                    <button class="card" @onclick="(() => GamesPage(game))">
                        <h3>@game.NameG</h3>
                        <div>@game.About</div>
                        <footer>@game.Price</footer>
                    </button>
                }
            }
            else if (programs == true)
            {
                @foreach (var program in plist)
                {
                    <button class="card" @onclick="(()=>ProgramsPage(program))">
                        <h3>@program.NameP</h3>
                        <div>@program.About</div>
                        <footer>@program.Price</footer>
                    </button>
                }
            }
        </div>
        @if (gpage)
        {
            <div class="modals" tabindex="-1" style="display:block;">
                <div class="modals-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">@(game.NameG = gobj.NameG)</h2>
                        </div>
                        <div class="modal-body">
                            <div class="right-column">
                                <div>About: <br />@gobj.About</div>
                                <tr>Date release: @gobj.DateRelease</tr>
                                <tr>Creator: @gobj.CreatorName</tr>
                                <tr>Genre: @gobj.Genre</tr>
                                <tr>Mode: @gobj.Mode</tr>
                                <tr>OS: @gobj.OS</tr>
                                @if (gobj.Price == 0)
                                {
                                    <h2 style="align-items:flex-end">Price: Free</h2>
                                }
                                else
                                {
                                    <h2 style="align-items:flex-end">Price: @(game.Price = gobj.Price)$</h2>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            @if (gobj.Price != 0)
                            {
                                <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@AddToCart">Add to cart</button>
                                <button type="button" class="btnchange" data-bs-dismiss="modal" onclick="location.href='https://localhost:5001/game/@gobj.Id'">Buy</button>
                            }
                            else
                            {
                                <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@ClosePage">Add to library</button>
                            }
                            <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@ClosePage">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ppage)
        {
            <div class="modals" tabindex="-1" style="display:block;">
                <div class="modals-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">@pobj.NameP</h2>
                        </div>
                        <div class="modal-body">
                            <div class="right-column">
                                <div>About: <br />@pobj.About</div>
                                <tr>Date release: @pobj.DateRelease</tr>
                                <tr>Creator: @pobj.CreatorName</tr>
                                <tr>OS: @pobj.OS</tr>
                                @if (pobj.Price == 0)
                                {
                                    <h2 style="align-items:flex-end">Price: Free</h2>
                                }
                                else
                                {
                                    <h2 style="align-items:flex-end">Price: @pobj.Price$</h2>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            @if (pobj.Price != 0)
                            {
                                <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@AddToCart">Add to cart</button>
                                <button type="button" class="btnchange" data-bs-dismiss="modal" onclick="location.href='https://localhost:5001/game/@pobj.Id'">Buy</button>
                            }
                            else
                            {
                                <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@ClosePage">Add to library</button>
                            }
                            <button type="button" class="btnchange" data-bs-dismiss="modal" @onclick="@ClosePage">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <footer class="bottombar">
        <div class="footerBlock">
            <div class="footerContacts">
                <p class="custom-h4">Контакти</p>
                <a href="tel:0800210904">life.skull.game@gmail.com</a>
                <div class="timeTableCallCenter">
                    <p>з 8:00 до 21:00 (без вихідних)</p>
                </div>
            </div>
            <div class="footerMenus">
                <div class="info">
                    <p class="custom-h4">Інформація</p>
                    <menu>
                        <li>
                            <a href="/uk/about/">Про нас</a>
                        </li>
                        <li>
                            <a href="/uk/about/contacts/">Контакти</a>
                        </li>
                        <li>
                            <a href="/uk/about/faq/">Допомога / FAQ</a>
                        </li>
                        <li>
                            <a href="/uk/about/usloviya/">Умови використання сайту</a>
                        </li>
                    </menu>
                </div>
            </div>
        </div>
    </footer>
}

@code
    {
    private bool games = true;
    private bool programs = false;
    private int[] PriceValue = { 0, 99999 };
    private int[] YearValue = { 2000, 2021 };
    private string searchvalue;
    IList<Programs> plist;
    IList<Games> glist;
    IList<Users> ulist;
    Games gobj = new Games();
    Programs pobj = new Programs();
    public bool gpage = false;
    public bool ppage = false;
    string key = "cartlist";
    Games game = new Games();
    List<Cart> cart = new List<Cart>();
    protected override void OnInitialized()
    {
        plist = Service.GetAllPrograms();
        glist = Service.GetAllGames();
        ulist = Service.GetAllUsers();
    }

    #region pages
    private void Games()
    {
        games = true;
        programs = false;
    }
    private void Programs()
    {
        programs = true;
        games = false;
    }
    private void GamesPage(Games gedit)
    {
        gobj = gedit;
        gpage = true;
    }
    private void ClosePage()
    {
        gpage = false;
        ppage = false;
    }
    private void ProgramsPage(Programs pedit)
    {
        pobj = pedit;
        ppage = true;
    }
    #endregion
    #region cart
    public void AddToCart()
    {
        var cartgame = new Cart();
        cartgame.Name = game.NameG;
        cartgame.TotalPrice =+ game.Price;
        cart.Add(cartgame);
        SaveCart();
    }
    public void SaveCart()
    {
        iLocalStorage.SetItemAsync(key, JsonConvert.SerializeObject(cart));
    }
    #endregion
}
