@page "/registration"
@inject NavigationManager UriHelper
@inject SimplePortal.Data.GlobalVariable gvar

<link type="text/css" href="/css/login-reg/login-reg.css" rel="stylesheet" />

@*@if (Reguser == null)
    {
        <p><em>Loading...</em></p>
    }*@
<div class="form">
    <div class="First">
        <p class="toptext">Sign to start your session</p>
        <div class="block1">
            <input type="text" placeholder="Login" @bind-value="@user.Login" /><br /><br />
            <input type="text" placeholder="Email" @bind-value="@user.Email" /><br /><br />
            <input type="password" placeholder="Password" @bind-value="@user.Password" /><br /><br />
            <input type="password" placeholder="Confirm password" @bind-value="@password" /><br /><br />
        </div>
        <div class="block1">
            <input type="button" value="Registration" class="Enter" @onclick="Singup" />
            <input type="button" value="Sign in" class="Enter" @onclick="Singin" />
            <br />
            <input type="button" value="Back" class="Enter" @onclick="Back" />
        </div>
    </div>
    <div class="block1">@enter</div>
</div>
@code {
    //Variables
    Users user = new Users();
    public string password;
    public string enter = "";
    IList<Users> ulist;

    protected override void OnInitialized()
    {
        ulist = Service.GetAllUsers();
    }
    private void Back()
    {
        UriHelper.NavigateTo("/");
    }
    private void Singin()
    {
        //Login page
        UriHelper.NavigateTo("/login");
    }
    private void Singup()
    {
        //method post(registration) user to DB
    }
    //function
    private void SearchUser()
    {
        foreach (var users in ulist)
        {
            if (user.Password == password)
            {
                if (user.Login == users.Login)
                {
                    if (user.Password == users.Password)
                    {
                        if (user.Email == users.Email)
                        {
                            gvar.authorization = true;
                            break;
                        }
                        else
                        {
                            enter = "Неправильна пошта.";
                            gvar.authorization = false;
                        }
                    }
                    else
                    {
                        enter = "Неправильний пароль.";
                        gvar.authorization = false;
                    }
                }
                else
                {
                    enter = "Неправильний логін.";
                    gvar.authorization = false;
                }
            }
            else
            {
                enter = "Паролі не співпадають.";
                gvar.authorization = false;
            }
        }

        if (gvar.authorization == true)
        {
            //you enter
            UriHelper.NavigateTo("/");

        }
    }
}
