@page "/program/{PageID:int}"
@inject NavigationManager UriHelper
@inherits OwningComponentBase<ProjectServices>
@inject SimplePortal.Data.GlobalVariable gvar
@using Syncfusion.Blazor.Inputs

@if (plist == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="centerpanel">
            <h1>@pobj.NameP</h1>
            <tr>@pobj.DateRelease</tr>
            <tr>@pobj.CreatorName</tr>
            <tr>@pobj.About</tr>
            <tr>@pobj.Price</tr>
</div>
    <footer class="bottombar">
        <div class="footerBlock">
            <div class="footerContacts">
                <p class="custom-h4">Контакти</p>
                <a href="tel:0800210904">life.skull.game@gmail.com</a>
                <div class="timeTableCallCenter">
                    <p>з 8:00 до 21:00 (без вихідних)</p>
                </div>
            </div>
            <div class="footerMenus">
                <div class="info">
                    <p class="custom-h4">Інформація</p>
                    <menu>
                        <li>
                            <a href="/uk/about/">Про нас</a>
                        </li>
                        <li>
                            <a href="/uk/about/contacts/">Контакти</a>
                        </li>
                        <li>
                            <a href="/uk/about/faq/">Допомога / FAQ</a>
                        </li>
                        <li>
                            <a href="/uk/about/usloviya/">Умови використання сайту</a>
                        </li>
                    </menu>
                </div>
            </div>
        </div>
    </footer>
}

@code
    {
    [Parameter] public int PageID { get; set; }
    IList<Programs> plist;
    Programs pobj;
    protected override void OnInitialized()
    {
        plist = Service.GetAllPrograms();
    }
}
